@model SavePaisViewModel
@{
	bool editMode = ViewBag.EditMode ?? false;
	ViewData["Title"] = "Guardar Pais";
}

<div class="col-12 col-md-6 offset-md-3">
	<div class="card">
		<div class="card-header bg-success text-bg-light">
			<h1 class="text-center">@(editMode ? "Editar - " + Model.Nombre : "Nuevo País") </h1>
		</div>
		<div class="card-body">
			<form asp-controller="Pais" asp-action="@(editMode ? "Edit" : "Add")" method="POST">
				<input type="hidden" asp-for="Id" />
				<div class="mb-3">
					<label asp-for="Nombre" class="form-label">Nombre</label>
					<input asp-for="Nombre" class="form-control" />
					<span asp-validation-for="Nombre" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="CodigoIso" class="form-label">Codigo ISO</label>
					<input asp-for="CodigoIso" class="form-control" />
					<span asp-validation-for="CodigoIso" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-success">Guardar</button>
					<a asp-controller="Pais" asp-action="Index" class="btn btn-secondary">Cancelar</a>
				</div>
			</form>
		</div>
			
       
	</div>
</div>
